[alias]
  co = checkout
  br = branch
  ci = commit
  st = status
[user]
  name = Joe Sak
  email = joe@joesak.com
[core]
  editor = vim
[color]
  branch = auto
  diff = auto
  interactive = auto
  status = auto